* {
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 248, 255);
}

/*nav section*/
nav {
    height: 64px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;

}

.navItems {
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.otherLinks {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

/*header section*/
.header {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerItems {
    width: 80%;
    max-width: 1200px;
}

/*portfolio work section*/
.work {
    display: flex;
    justify-content: center;
    align-items: center;
}

.workItems {
    width: 80%;
    max-width: 1200px;
}

.pieceItem {
    display: flex;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    margin: 70px 0;
}

.pieceItem img {
    width: 50%;
}

.desc {
    width: 50%;
    display: flex;
    justify-content: center;
}

.descItems {
    margin: 0 30px;
    
}

.descItems h2{
    margin: 40px 0;
}

.pieceBtn  {
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
